
<table class="table table-striped table-hover">
    <thead>
      <tr>
      
        <th>Full Name</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Mobile No</th>
        <th>City</th>
        <th>Technical Skills</th>  
      </tr>
    </thead >
    <tbody>
      <tr *ngFor="let member of newestItems" >
      
  
        <td style="width: 250px;" >{{member.fullName}}</td>
        <td style="width: 250px;" >{{member.gender}}</td>
        <td style="width: 250px;" >{{member.email}}</td>
        <td style="width: 250px;" >{{member.mobile}}</td>
        <td style="width: 250px;" >{{member.city}}</td>
        <td style="width: 250px;" >{{member.skills}}</td>
   
      </tr>
      
    </tbody>
  </table>
